code/n8n-workflows/finance/financial-reporting/automated_financial_reporting.json
{
  "name": "Automated Financial Reporting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "minutesInterval": 0,
              "hoursInterval": 0,
              "daysInterval": 1
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "command": "cd /workspace/code/python-scripts/finance/financial-reporting && python main.py",
        "executeTimeout": 120
      },
      "id": "2",
      "name": "Generate Reports",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "id": "3",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "filePath": "/workspace/code/python-scripts/finance/financial-reporting/reports/report_summary.json"
      },
      "id": "4",
      "name": "Read Summary",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value": "={{ $binary.data.toString('utf8') }}"
      },
      "id": "5",
      "name": "Parse Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "operation": "parseJson",
        "propertyName": "reportData",
        "value": "={{ $json.value }}"
      },
      "id": "6",
      "name": "JSON Parse",
      "type": "n8n-nodes-base.jsonConvert",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "filePath": "/workspace/code/python-scripts/finance/financial-reporting/config/recipients.json"
      },
      "id": "7",
      "name": "Read Recipients",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1250,
        50
      ]
    },
    {
      "parameters": {
        "operation": "parseJson",
        "propertyName": "recipientData",
        "value": "={{ $binary.data.toString('utf8') }}"
      },
      "id": "8",
      "name": "Parse Recipients",
      "type": "n8n-nodes-base.jsonConvert",
      "typeVersion": 1,
      "position": [
        1450,
        50
      ]
    },
    {
      "parameters": {
        "functionCode": "// Get report files from summary\nconst reportFiles = items[0].json.reportData.report_files;\nconst files = [];\n\n// Add each file to the array with full path\nfor (const file of reportFiles) {\n  files.push(`/workspace/code/python-scripts/finance/financial-reporting/${file}`);\n}\n\nreturn [{json: {files}}];"
      },
      "id": "9",
      "name": "Get Report Files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "reports@company.com",
        "toEmail": "={{ $node[&quot;Parse Recipients&quot;].json.recipientData.recipients.join(&quot;,&quot;) }}",
        "subject": "={{ $node[&quot;JSON Parse&quot;].json.reportData.report_title }} - {{ $formatDate(new Date(), &quot;YYYY-MM-DD&quot;) }}",
        "text": "Please find attached the latest financial reports.\n\nThis report was automatically generated by the Financial Reporting System.\n\nReport Details:\n- Generated: {{ $formatDate(new Date(), &quot;YYYY-MM-DD HH:mm:ss&quot;) }}\n- Data Sources: {{ $node[&quot;JSON Parse&quot;].json.reportData.data_sources.join(&quot;, &quot;) }}\n- Analyses: {{ $node[&quot;JSON Parse&quot;].json.reportData.analyses_performed.join(&quot;, &quot;) }}\n\nIf you have any questions about this report, please contact the Finance Department.",
        "attachments": "={{ $node[&quot;Get Report Files&quot;].json.files }}"
      },
      "id": "10",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "message": "Error generating financial reports: {{ $json.stderr }}",
        "level": "error"
      },
      "id": "11",
      "name": "Log Error",
      "type": "n8n-nodes-base.log",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "reports@company.com",
        "toEmail": "admin@company.com",
        "subject": "Financial Report Generation Failed",
        "text": "The automated financial report generation process failed. Please check the logs.\n\nError details:\n{{ $json.stderr }}"
      },
      "id": "12",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "message": "Financial reports generated successfully and sent to recipients.",
        "level": "info"
      },
      "id": "13",
      "name": "Log Success",
      "type": "n8n-nodes-base.log",
      "typeVersion": 1,
      "position": [
        1850,
        200
      ]
    },
    {
      "parameters": {
        "channel": "C01234ABCDEF",
        "text": "📊 Financial reports for {{ $formatDate(new Date(), &quot;MMMM YYYY&quot;) }} have been generated and distributed.\n\nReport: {{ $node[&quot;JSON Parse&quot;].json.reportData.report_title }}\nGenerated: {{ $formatDate(new Date(), &quot;YYYY-MM-DD HH:mm:ss&quot;) }}",
        "otherOptions": {
          "attachments": [
            {
              "color": "#36a64f",
              "title": "Report Summary",
              "fields": [
                {
                  "title": "Data Sources",
                  "value": "{{ $node[&quot;JSON Parse&quot;].json.reportData.data_sources.join(&quot;, &quot;) }}",
                  "short": true
                },
                {
                  "title": "Analyses",
                  "value": "{{ $node[&quot;JSON Parse&quot;].json.reportData.analyses_performed.length }} analyses performed",
                  "short": true
                }
              ]
            }
          ]
        }
      },
      "id": "14",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1850,
        50
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reports": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Read Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Summary": {
      "main": [
        [
          {
            "node": "Parse Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Get Report Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Recipients": {
      "main": [
        [
          {
            "node": "Parse Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Recipients": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Report Files": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}